@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-text-primary bg-gray-100;
}
h1 {
  @apply text-4xl font-bold text-text-primary;
}
h2 {
  @apply text-2xl font-semibold text-text-primary;
}
h3 {
  @apply text-xl font-medium text-text-primary;
}
a {
  @apply text-text-primary underline hover:text-blue-600 transition-colors;
}

section.cv-section {
  @apply p-8 [&:not(:first-child)]:pb-10 print:p-0 print:[&:not(:first-child)]:pb-2;
}

section.cv-section + section.cv-section {
  padding-top: 0;
}

.section-title {
  @apply text-2xl font-semibold text-text-primary mb-6 print:mb-2;
}

.list-disc {
  @apply ml-5 space-y-1.5 print:space-y-0;
}

@media print {
  @page {
    margin: 10mm;
    size: A4;
  }
  body {
    margin: 0 !important;
    background-color: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .text-text-primary:not(.bg-primary-bg) {
    color: #000000 !important;
  }

  .bg-secondary\/80, .bg-primary-bg\/80 {
    background-color: transparent !important;
  }
  
  /* Make sure all colors print */
  * {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}